.calendarWrapper {
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
}

.calendarpage {
    display: flex;
    flex-direction: row;

    position: -webkit-sticky;
    position: sticky;

    margin-top: 32px;
    margin-left: 258px;
    margin-right: 318px;

    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: x-large;

    padding: 6px 86px 6px 90px;
    background-color: #6e7687a5;
    border-radius: 16px;
}

.calendar {
    margin-top: 44px;
    margin-left: 120px;

    padding: 48px 84px 48px 84px;

    border-radius: 4px;
    border: 2px solid gray;

    width: 460px;
    height: 256px;

}