.userComponentWrapper {
    display: flex;
    flex-direction: row;
}

.profile {
    position: sticky;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;

}

.img {
    cursor: pointer;
    margin-top: 36px;
}

.user {
    font-family: "Poppins", sans-serif;
    font-size: medium;

    margin-left: 6px;
    margin-top: 42px;
}

.dropdown-wrapper {
    display:flex;
    flex-direction: column;

    margin-top: 8px;
    margin-right: 1px;

    background: rgb(229, 228, 228);

    border-radius: 6px;

    width: 130px;
    height: 164px;
}

.accountWrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.account {
    width: 26px;
    height: 26px;

    margin-top: 14px;
    margin-left: 18px;
}

.account-text {
    margin-left: 4px;
}

.settingsWrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.settings {
    width: 20px;
    height: 20px;

    margin-top: 18px;
    margin-left: 20px;
}

.settings-text {
    margin-left: 6px;
}

.logoutWrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.logout {
    width: 36px;
    height: 36px;

    margin-top: 10px;
    margin-left: 12px;
}